**/*.swp
aro-hcp-frontend
aro-hcp-backend
localsecrets
secrets
node_modules
/.vscode
/*.crt
/*.key
*kubeconfig
/*.pem
.DS_Store
.idea
env
*/archive.tar.gz
tooling/bin
tooling/image-sync/config.yml
**/venv
**/__pycache__
**/charts/*.tgz