go 1.24.3

toolchain go1.24.3

use (
	./admin
	./backend
	./frontend
	./internal
	./test
	./tooling/hcpctl
	./tooling/image-updater
	./tooling/olm-bundle-repkg
	./tooling/pipeline-documentation
	./tooling/prometheus-rules
	./tooling/secret-sync
	./tooling/templatize
	./tooling/yamlwrap
)
