go 1.25.2

use (
	./admin/client
	./admin/server
	./backend
	./frontend
	./internal
	./test
	./tooling/hcpctl
	./tooling/helmtest
	./tooling/image-updater
	./tooling/olm-bundle-repkg
	./tooling/pipeline-documentation
	./tooling/prometheus-rules
	./tooling/secret-sync
	./tooling/templatize
	./tooling/yamlwrap
	example
)
