{{- if .NoTruncation}}set notruncation;
{{end -}}
{{.Table}}
| project timestamp, log, cluster, namespace_name, container_name
| where timestamp between(<<.TimestampMin>> .. <<.TimestampMax>>)
{{- if .ClusterId}}
| where log has <<.SubResourceGroupId>> or log has_any (<<.ClusterId>>)
{{- else}}
| where log has <<.SubResourceGroupId>>
{{- end}}
{{- if gt .Limit 0}}
| limit {{.Limit}}
{{- end}}
| order by timestamp asc