let _startTime = datetime("{{.StartTime}}");
let _endTime = datetime("{{.EndTime}}");
database('ServiceLogs').table('frontendLogs')
| where timestamp between (_startTime .. _endTime)
| where cluster == '{{.ClusterName}}'
| where container_name == 'aro-hcp-frontend'
| project timestamp, msg, log
