let _startTime = datetime("{{.StartTime}}");
let _endTime = datetime("{{.EndTime}}");
database('ServiceLogs').table('containerLogs')
| where timestamp between (_startTime .. _endTime)
| where cluster == '{{.ClusterName}}'
| where namespace_name has "hypershift"
| project timestamp, container_name, log
