clustersServiceLogs
| where resource_id has '{{.SubResourceGroupId}}'
| extend _cluster_name = extract(@"hcpOpenShiftClusters/([^/""]+)", 1, tostring(resource_id))
| where _cluster_name =~ '{{.FilterClusterName}}'
| where isnotempty(cid)
| distinct cid
