{{- if .NoTruncation}}set notruncation;
{{end -}}
kubernetesEvents
| project timestamp, log, cluster
| where timestamp between({{ .TimestampMin }} .. {{ .TimestampMax }})
| where cluster == '{{.ClusterName}}'
{{- if gt .Limit 0}}
| limit {{.Limit}}
{{- end}}
| order by timestamp asc