{
  "swagger": "2.0",
  "info": {
    "title": "Azure Red Hat OpenShift Hosted Control Planes Service",
    "version": "2024-06-10-preview",
    "description": "Microsoft.RedHatOpenShift Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HcpOpenShiftClusters"
    },
    {
      "name": "NodePools"
    }
  ],
  "paths": {
    "/providers/Microsoft.RedHatOpenShift/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_Maximum": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_Minimum": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters": {
      "get": {
        "operationId": "HcpOpenShiftClusters_ListBySubscription",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "List HcpOpenShiftCluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_ListBySubscription": {
            "$ref": "./examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters": {
      "get": {
        "operationId": "HcpOpenShiftClusters_ListByResourceGroup",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "List HcpOpenShiftCluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_ListByResourceGroup": {
            "$ref": "./examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters/{hcpOpenShiftClusterName}": {
      "get": {
        "operationId": "HcpOpenShiftClusters_Get",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Get a HcpOpenShiftCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_Get": {
            "$ref": "./examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "HcpOpenShiftClusters_CreateOrUpdate",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Create a HcpOpenShiftCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HcpOpenShiftCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftCluster"
            }
          },
          "201": {
            "description": "Resource 'HcpOpenShiftCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_CreateOrUpdate": {
            "$ref": "./examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HcpOpenShiftClusters_Update",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Update a HcpOpenShiftCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftClusterUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_Update": {
            "$ref": "./examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HcpOpenShiftClusters_Delete",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Delete a HcpOpenShiftCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_Delete": {
            "$ref": "./examples/HcpOpenShiftClusters_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters/{hcpOpenShiftClusterName}/nodePools": {
      "get": {
        "operationId": "NodePools_ListByParent",
        "tags": [
          "NodePools"
        ],
        "description": "List NodePool resources by HcpOpenShiftCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NodePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NodePools_ListByParent": {
            "$ref": "./examples/NodePools_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters/{hcpOpenShiftClusterName}/nodePools/{nodePoolName}": {
      "get": {
        "operationId": "NodePools_Get",
        "tags": [
          "NodePools"
        ],
        "description": "Get a NodePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "nodePoolName",
            "in": "path",
            "description": "The name of the NodePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,13}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NodePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NodePools_Get": {
            "$ref": "./examples/NodePools_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "NodePools_CreateOrUpdate",
        "tags": [
          "NodePools"
        ],
        "description": "Create a NodePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "nodePoolName",
            "in": "path",
            "description": "The name of the NodePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,13}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NodePool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NodePool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NodePool"
            }
          },
          "201": {
            "description": "Resource 'NodePool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NodePool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NodePools_CreateOrUpdate": {
            "$ref": "./examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NodePools_Update",
        "tags": [
          "NodePools"
        ],
        "description": "Update a NodePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "nodePoolName",
            "in": "path",
            "description": "The name of the NodePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,13}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NodePoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NodePool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NodePools_Update": {
            "$ref": "./examples/NodePools_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NodePools_Delete",
        "tags": [
          "NodePools"
        ],
        "description": "Delete a NodePool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          },
          {
            "name": "nodePoolName",
            "in": "path",
            "description": "The name of the NodePool",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,13}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NodePools_Delete": {
            "$ref": "./examples/NodePools_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters/{hcpOpenShiftClusterName}/requestAdminCredential": {
      "post": {
        "operationId": "HcpOpenShiftClusters_RequestAdminCredential",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Request a temporary admin kubeconfig for the cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HcpOpenShiftClusterAdminCredential"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_RequestAdminCredential_MaximumSet": {
            "$ref": "./examples/HcpOpenShiftClusters_RequestAdminCredential_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RedHatOpenShift/hcpOpenShiftClusters/{hcpOpenShiftClusterName}/revokeCredentials": {
      "post": {
        "operationId": "HcpOpenShiftClusters_RevokeCredentials",
        "tags": [
          "HcpOpenShiftClusters"
        ],
        "description": "Revoke all credentials issued by requestAdminCredential",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hcpOpenShiftClusterName",
            "in": "path",
            "description": "The name of the HcpOpenShiftCluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][-a-zA-Z0-9]{1,52}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HcpOpenShiftClusters_RevokeCredentials_MaximumSet": {
            "$ref": "./examples/HcpOpenShiftClusters_RevokeCredentials_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApiProfile": {
      "type": "object",
      "description": "Information about the API of a cluster.",
      "properties": {
        "url": {
          "type": "string",
          "format": "uri",
          "description": "URL endpoint for the API server",
          "readOnly": true
        },
        "visibility": {
          "type": "string",
          "description": "The internet visibility of the OpenShift API server",
          "default": "public",
          "enum": [
            "public",
            "private"
          ],
          "x-ms-enum": {
            "name": "Visibility",
            "modelAsString": true,
            "values": [
              {
                "name": "public",
                "value": "public",
                "description": "The API server is visible from the internet."
              },
              {
                "name": "private",
                "value": "private",
                "description": "The API server is not visible from the internet."
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "url"
      ]
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "allOf": [
              {
                "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/UserAssignedIdentity"
              }
            ],
            "type": "object",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "ClusterCapabilitiesProfile": {
      "type": "object",
      "description": "Cluster capabilities configuration.",
      "properties": {
        "disabled": {
          "type": "array",
          "description": "Immutable list of disabled capabilities. May only contain \"ImageRegistry\" at\nthis time. Additional capabilities may be available in the future. Clients\nshould expect to handle additional values.",
          "items": {
            "$ref": "#/definitions/OptionalClusterCapability"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "ConsoleProfile": {
      "type": "object",
      "description": "Configuration of the cluster web console",
      "properties": {
        "url": {
          "type": "string",
          "format": "uri",
          "description": "The cluster web console URL endpoint",
          "readOnly": true
        }
      },
      "required": [
        "url"
      ]
    },
    "DnsProfile": {
      "type": "object",
      "description": "DNS contains the DNS settings of the cluster",
      "properties": {
        "baseDomain": {
          "type": "string",
          "description": "BaseDomain is the base DNS domain of the cluster.",
          "readOnly": true
        },
        "baseDomainPrefix": {
          "type": "string",
          "description": "BaseDomainPrefix is the unique name of the cluster representing the OpenShift's cluster name.\nBaseDomainPrefix is the name that will appear in the cluster's DNS, provisioned cloud providers resources",
          "maxLength": 15,
          "pattern": "^[a-z]([-a-z0-9]*[a-z0-9])?$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "Effect": {
      "type": "string",
      "description": "The taint effect the same as in K8s",
      "enum": [
        "NoSchedule",
        "PreferNoSchedule",
        "NoExecute"
      ],
      "x-ms-enum": {
        "name": "Effect",
        "modelAsString": true,
        "values": [
          {
            "name": "NoSchedule",
            "value": "NoSchedule",
            "description": "NoSchedule taint effect"
          },
          {
            "name": "PreferNoSchedule",
            "value": "PreferNoSchedule",
            "description": "PreferNoSchedule taint effect"
          },
          {
            "name": "NoExecute",
            "value": "NoExecute",
            "description": "NoExecute taint effect"
          }
        ]
      }
    },
    "HcpOpenShiftCluster": {
      "type": "object",
      "description": "HCP cluster resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HcpOpenShiftClusterProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HcpOpenShiftClusterAdminCredential": {
      "type": "object",
      "description": "HCP cluster admin credential",
      "properties": {
        "kubeconfig": {
          "type": "string",
          "format": "password",
          "description": "Admin kubeconfig with a temporary client certificate",
          "readOnly": true,
          "x-ms-secret": true
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration timestamp for the kubeconfig's client certificate",
          "readOnly": true
        }
      },
      "required": [
        "kubeconfig",
        "expirationTimestamp"
      ]
    },
    "HcpOpenShiftClusterListResult": {
      "type": "object",
      "description": "The response of a HcpOpenShiftCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HcpOpenShiftCluster items on this page",
          "items": {
            "$ref": "#/definitions/HcpOpenShiftCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HcpOpenShiftClusterProperties": {
      "type": "object",
      "description": "HCP cluster properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "version": {
          "$ref": "#/definitions/VersionProfile",
          "description": "Version of the control plane components",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "dns": {
          "$ref": "#/definitions/DnsProfile",
          "description": "Cluster DNS configuration"
        },
        "network": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Cluster network configuration",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "console": {
          "$ref": "#/definitions/ConsoleProfile",
          "description": "Shows the cluster web console information",
          "readOnly": true
        },
        "api": {
          "$ref": "#/definitions/ApiProfile",
          "description": "Shows the cluster API server profile",
          "readOnly": true
        },
        "platform": {
          "$ref": "#/definitions/PlatformProfile",
          "description": "Azure platform configuration",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "capabilities": {
          "$ref": "#/definitions/ClusterCapabilitiesProfile",
          "description": "Configure cluter capabilities.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "platform"
      ]
    },
    "HcpOpenShiftClusterPropertiesUpdate": {
      "type": "object",
      "description": "HCP cluster properties",
      "properties": {
        "dns": {
          "$ref": "#/definitions/DnsProfile",
          "description": "Cluster DNS configuration"
        }
      }
    },
    "HcpOpenShiftClusterUpdate": {
      "type": "object",
      "description": "HCP cluster resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HcpOpenShiftClusterPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Label": {
      "type": "object",
      "description": "Label represents the k8s label",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label"
        },
        "value": {
          "type": "string",
          "description": "The value of the label"
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "description": "OpenShift networking configuration",
      "properties": {
        "networkType": {
          "type": "string",
          "description": "The main controller responsible for rendering the core networking components",
          "default": "OVNKubernetes",
          "enum": [
            "OVNKubernetes",
            "Other"
          ],
          "x-ms-enum": {
            "name": "NetworkType",
            "modelAsString": true,
            "values": [
              {
                "name": "OVNKubernetes",
                "value": "OVNKubernetes",
                "description": "The OVN network plugin for the OpenShift cluster"
              },
              {
                "name": "Other",
                "value": "Other",
                "description": "Other network plugins"
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "podCidr": {
          "type": "string",
          "description": "The CIDR of the pod IP addresses",
          "default": "10.128.0.0/14",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceCidr": {
          "type": "string",
          "description": "The CIDR block for assigned service IPs",
          "default": "172.30.0.0/16",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "machineCidr": {
          "type": "string",
          "description": "The CIDR block from which to assign machine IP addresses",
          "default": "10.0.0.0/16",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "hostPrefix": {
          "type": "integer",
          "format": "int32",
          "description": "Network host prefix",
          "default": 23,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "NetworkSecurityGroupResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/networkSecurityGroups"
          }
        ]
      }
    },
    "NodePool": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NodePoolProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NodePoolAutoScaling": {
      "type": "object",
      "description": "Node pool autoscaling",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of nodes in the node pool",
          "minimum": 0
        },
        "max": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of nodes in the node pool",
          "minimum": 0
        }
      }
    },
    "NodePoolListResult": {
      "type": "object",
      "description": "The response of a NodePool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NodePool items on this page",
          "items": {
            "$ref": "#/definitions/NodePool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NodePoolPlatformProfile": {
      "type": "object",
      "description": "Azure node pool platform configuration",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The Azure resource ID of the worker subnet"
        },
        "vmSize": {
          "type": "string",
          "description": "The VM size according to the documentation:\n- https://learn.microsoft.com/en-us/azure/virtual-machines/sizes"
        },
        "diskSizeGiB": {
          "type": "integer",
          "format": "int32",
          "description": "The OS disk size in GiB"
        },
        "diskStorageAccountType": {
          "type": "string",
          "description": "The type of the disk storage account\n- https://learn.microsoft.com/en-us/azure/virtual-machines/disks-types",
          "default": "Premium_LRS",
          "enum": [
            "Premium_LRS",
            "StandardSSD_LRS",
            "Standard_LRS"
          ],
          "x-ms-enum": {
            "name": "DiskStorageAccountType",
            "modelAsString": true,
            "values": [
              {
                "name": "Premium_LRS",
                "value": "Premium_LRS",
                "description": "Premium SSD with Locally Redundant Storage (LRS)"
              },
              {
                "name": "StandardSSD_LRS",
                "value": "StandardSSD_LRS",
                "description": "Standard SSD with Locally Redundant Storage (LRS)"
              },
              {
                "name": "Standard_LRS",
                "value": "Standard_LRS",
                "description": "Standard HDD with Locally Redundant Storage (LRS)"
              }
            ]
          }
        },
        "availabilityZone": {
          "type": "string",
          "description": "The availability zone for the node pool.\nPlease read the documentation to see which regions support availability zones\n- https://learn.microsoft.com/en-us/azure/availability-zones/az-overview"
        }
      },
      "required": [
        "vmSize"
      ]
    },
    "NodePoolProperties": {
      "type": "object",
      "description": "Represents the node pool properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "version": {
          "$ref": "#/definitions/NodePoolVersionProfile",
          "description": "OpenShift version for the nodepool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "platform": {
          "$ref": "#/definitions/NodePoolPlatformProfile",
          "description": "Azure node pool platform configuration",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "The number of worker nodes, it cannot be used together with autoscaling",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "autoRepair": {
          "type": "boolean",
          "description": "Auto-repair",
          "default": false,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "autoScaling": {
          "$ref": "#/definitions/NodePoolAutoScaling",
          "description": "Representation of a autoscaling in a node pool."
        },
        "labels": {
          "type": "array",
          "description": "K8s labels to propagate to the NodePool Nodes\nThe good example of the label is `node-role.kubernetes.io/master: \"\"`",
          "items": {
            "$ref": "#/definitions/Label"
          },
          "x-ms-identifiers": [
            "key",
            "value"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "taints": {
          "type": "array",
          "description": "Taints for the nodes",
          "items": {
            "$ref": "#/definitions/Taint"
          },
          "x-ms-identifiers": [
            "key",
            "value",
            "effect"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "platform"
      ]
    },
    "NodePoolPropertiesUpdate": {
      "type": "object",
      "description": "Represents the node pool properties",
      "properties": {
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "The number of worker nodes, it cannot be used together with autoscaling",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "autoScaling": {
          "$ref": "#/definitions/NodePoolAutoScaling",
          "description": "Representation of a autoscaling in a node pool."
        },
        "labels": {
          "type": "array",
          "description": "K8s labels to propagate to the NodePool Nodes\nThe good example of the label is `node-role.kubernetes.io/master: \"\"`",
          "items": {
            "$ref": "#/definitions/Label"
          },
          "x-ms-identifiers": [
            "key",
            "value"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "taints": {
          "type": "array",
          "description": "Taints for the nodes",
          "items": {
            "$ref": "#/definitions/Taint"
          },
          "x-ms-identifiers": [
            "key",
            "value",
            "effect"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "NodePoolUpdate": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NodePoolPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "NodePoolVersionProfile": {
      "type": "object",
      "description": "Versions represents an OpenShift version.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID is the unique identifier of the version.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "channelGroup": {
          "type": "string",
          "description": "ChannelGroup is the name of the set to which this version belongs. Each version belongs to only a single set.",
          "default": "stable",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "availableUpgrades": {
          "type": "array",
          "description": "AvailableUpgrades is a list of version names the current version can be upgraded to.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "availableUpgrades"
      ]
    },
    "OperatorsAuthenticationProfile": {
      "type": "object",
      "description": "The configuration that the operators of the cluster have to authenticate to Azure.",
      "properties": {
        "userAssignedIdentities": {
          "$ref": "#/definitions/UserAssignedIdentitiesProfile",
          "description": "Represents the information related to Azure User-Assigned managed identities needed\nto perform Operators authentication based on Azure User-Assigned Managed Identities"
        }
      },
      "required": [
        "userAssignedIdentities"
      ]
    },
    "OptionalClusterCapability": {
      "type": "string",
      "description": "Cluster capabilities that can be disabled.",
      "enum": [
        "ImageRegistry"
      ],
      "x-ms-enum": {
        "name": "OptionalClusterCapability",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageRegistry",
            "value": "ImageRegistry",
            "description": "Enables the OpenShift internal image registry."
          }
        ]
      }
    },
    "PlatformProfile": {
      "type": "object",
      "description": "Azure specific configuration",
      "properties": {
        "managedResourceGroup": {
          "type": "string",
          "description": "Resource group to put cluster resources"
        },
        "subnetId": {
          "$ref": "#/definitions/SubnetResourceId",
          "description": "The Azure resource ID of the worker subnet"
        },
        "outboundType": {
          "type": "string",
          "description": "The core outgoing configuration",
          "default": "loadBalancer",
          "enum": [
            "loadBalancer"
          ],
          "x-ms-enum": {
            "name": "OutboundType",
            "modelAsString": true,
            "values": [
              {
                "name": "loadBalancer",
                "value": "loadBalancer",
                "description": "The load balancer configuration"
              }
            ]
          }
        },
        "networkSecurityGroupId": {
          "$ref": "#/definitions/NetworkSecurityGroupResourceId",
          "description": "ResourceId for the network security group attached to the cluster subnet"
        },
        "operatorsAuthentication": {
          "$ref": "#/definitions/OperatorsAuthenticationProfile",
          "description": "The configuration that the operators of the cluster have to authenticate to Azure"
        },
        "issuerUrl": {
          "type": "string",
          "format": "uri",
          "description": "URL for the OIDC provider to be used for authentication\nto authenticate against user Azure cloud account",
          "readOnly": true
        }
      },
      "required": [
        "subnetId",
        "networkSecurityGroupId",
        "operatorsAuthentication",
        "issuerUrl"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Deleting",
        "Provisioning",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Non-terminal state indicating the resource has been accepted"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Non-terminal state indicating the resource is deleting"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Non-terminal state indicating the resource is provisioning"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Non-terminal state indicating the resource is updating"
          }
        ]
      },
      "readOnly": true
    },
    "SubnetResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Network/virtualNetworks/subnets"
          }
        ]
      }
    },
    "Taint": {
      "type": "object",
      "description": "Taint is controlling the node taint and its effects",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the taint",
          "minLength": 1,
          "maxLength": 316
        },
        "value": {
          "type": "string",
          "description": "The value of the taint",
          "minLength": 1,
          "maxLength": 63
        },
        "effect": {
          "$ref": "#/definitions/Effect",
          "description": "The effect of the taint"
        }
      }
    },
    "UserAssignedIdentitiesProfile": {
      "type": "object",
      "description": "Represents the information related to Azure User-Assigned managed identities needed\nto perform Operators authentication based on Azure User-Assigned Managed Identities",
      "properties": {
        "controlPlaneOperators": {
          "type": "object",
          "description": "The set of Azure User-Assigned Managed Identities leveraged for the Control Plane\noperators of the cluster. The set of required managed identities is dependent on the\nCluster's OpenShift version.",
          "additionalProperties": {
            "$ref": "#/definitions/UserAssignedIdentityResourceId"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "dataPlaneOperators": {
          "type": "object",
          "description": "The set of Azure User-Assigned Managed Identities leveraged for the Data Plane\noperators of the cluster. The set of required managed identities is dependent on the\nCluster's OpenShift version.",
          "additionalProperties": {
            "$ref": "#/definitions/UserAssignedIdentityResourceId"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceManagedIdentity": {
          "$ref": "#/definitions/UserAssignedIdentityResourceId",
          "description": "Represents the information associated to an Azure User-Assigned Managed Identity whose\npurpose is to perform service level actions.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "controlPlaneOperators",
        "dataPlaneOperators",
        "serviceManagedIdentity"
      ]
    },
    "UserAssignedIdentityResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
          }
        ]
      }
    },
    "VersionProfile": {
      "type": "object",
      "description": "Versions represents an OpenShift version.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID is the unique identifier of the version.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "channelGroup": {
          "type": "string",
          "description": "ChannelGroup is the name of the set to which this version belongs. Each version belongs to only a single set.",
          "default": "stable",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "availableUpgrades": {
          "type": "array",
          "description": "AvailableUpgrades is a list of version names the current version can be upgraded to.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "availableUpgrades"
      ]
    }
  },
  "parameters": {}
}
