#!/bin/bash

# List of enviroment variables required for the setup.
# You need to define all undefined variables.

set -o nounset

#
# Customer Enviroment and Infrastructure
#

export LOCATION

export CUSTOMER_SUBSCRIPTION
export CUSTOMER_TENANT
export CUSTOMER_RG_NAME

export CUSTOMER_VNET_NAME=aro-hcp-vnet
export CUSTOMER_VNET_SUBNET1=aro-hcp-subnet-1
export CUSTOMER_NSG_NAME=aro-hcp-nsg

#
# Customer Cluster
#

export CLUSTER_NAME
