{{- if .NoTruncation}}set notruncation;
{{end -}}
systemdLogs
| project timestamp, log, cluster
| where cluster == {{.ClusterName}}
| where timestamp between({{.TimestampMin | kqlDatetime}} .. {{.TimestampMax | kqlDatetime}})
{{- if gt .Limit 0}}
| limit {{.Limit}}
{{- end}}
| order by timestamp asc