let _startTime = {{.TimestampMin | kqlDatetime}};
let _endTime = {{.TimestampMax | kqlDatetime}};
database('ServiceLogs').table('containerLogs')
| where timestamp between (_startTime .. _endTime)
| where cluster == {{.ClusterName}}
| where container_name == 'clusters-service-server'
| where log has 'state to' or log has 'now in'
| project timestamp, cluster, log
