cosmosResourceSnapshots
| where timestamp between({{.TimestampMin}} .. {{.TimestampMax}})
| where cluster == '{{.ClusterName}}'
| where resourceGroup == '{{.ResourceGroupName}}'
| project timestamp, cosmosContainer, subscriptionID, resourceGroup, resourceType, resourceName, resourceID, content
| order by timestamp desc