let _startTime = {{.TimestampMin }};
let _endTime = {{.TimestampMax }};
let cid = (database('ServiceLogs').table('clustersServiceLogs')
| where timestamp between (_startTime .. _endTime)
| where resource_id has '{{.ResourceGroupName}}'
| where strlen( cid) > 0
| distinct cid);
database('HostedControlPlaneLogs').table('containerLogs')
| where timestamp between (_startTime .. _endTime)
| where namespace_name has_any (cid)
| project timestamp, log
