{{- if .NoTruncation}}set notruncation;
{{end -}}
containerLogs
| project timestamp, log, cluster, namespace_name, container_name
| where timestamp between({{ .TimestampMin }} .. {{ .TimestampMax }})
| where namespace_name has '{{.ClusterId}}'
{{- if gt .Limit 0}}
| limit {{.Limit}}
{{- end}}
| order by timestamp asc