<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- TODO: re-enable once internal Microsoft NuGet feeds are accessible -->
    <!-- <add key="AzureGenevaMonitoring" value="https://msblox.pkgs.visualstudio.com/DefaultCollection/_packaging/AzureGenevaMonitoring/nuget/v3/index.json" /> -->
    <!-- <add key="ManualMirror" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ManualMirror/nuget/index.json" /> -->
    <!-- <add key="Official" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Official/nuget/index.json" /> -->
    <add key="NuGetOrg" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
