{{- if .Header}}{{.Header}}
{{end -}}
{{- range $i, $f := .Firings}}Firing {{inc $i}}: [category: {{if $f.Metadata.Category}}{{$f.Metadata.Category}}{{else}}uncategorized{{end}} (tier {{$f.Metadata.CategoryTier}}, {{if $f.Metadata.CategoryPolicy}}{{$f.Metadata.CategoryPolicy}}{{else}}fail{{end}})]{{if $f.Metadata.CategoryReason}} {{$f.Metadata.CategoryReason}}{{end}}
  State:       {{state $f.Alert.Condition}}
{{- if $f.Alert.StartsAt}}
  Started:     {{formatTime $f.Alert.StartsAt}}
{{- end}}
{{- if $f.Alert.EndsAt}}
  Ended:       {{formatTime $f.Alert.EndsAt}}
{{- end}}
  Severity:    {{$f.Alert.Severity}}
{{- if $f.Alert.Labels}}
  Labels:      {{formatLabels $f.Alert.Labels}}
{{- end}}
{{- if $f.Alert.Description}}
  Description: {{$f.Alert.Description}}
{{- end}}
{{end -}}
